<footer class="footer">
	<!--begin container-->
	<div class="container footer__container">
		<!--begin footer__logo-->
		<div class="footer__logo">
			<img src="img/footer-logo.png" alt="alt">
		</div>
		<!--end footer__logo-->
		<div class="footer__menu">
			<ul><li class="footer__menu-item"><a href="#">Главная</a></li>
				<li class="footer__menu-item"><a href="#">Услуги</a></li>
			</ul>
			<ul>
				<li class="footer__menu-item"><a href="#">Диагностика</a></li>
				<li class="footer__menu-item"><a href="#">Клиника</a></li>
			</ul>
			<ul>
				<li class="footer__menu-item"><a href="#">Лечение</a></li>
				<li class="footer__menu-item"><a href="#">Контакты</a></li>
			</ul>
			<ul>
				<li class="footer__menu-item"><a href="#">Реабилитация</a></li>
			</ul>
		</div>
		<div class="footer__phones">
			<div class="phone footer__phone">
				<a class="phone__link" href="tel:#"><span>+7 (495)</span>
					784-98-97
				</a>
				<span class="phone__desc">Ресепшн</span>
			</div>
			<div class="phone footer__phone">
				<a class="phone__link" href="tel:#"><span>+7 (495)</span>
					788-88-16
				</a>
				<span class="phone__desc">Дирекция</span>
			</div>
		</div>
	</div>
	<!--end container-->
</footer>