<header class="header" style="background-image: url('img/header-bg.jpg');">
		<!-- begin container -->
		<div class="container header__container">
			<!-- begin logo -->
			<div class="header__logo">
				<img src="img/logo.png">
			</div>
			<!--begin header__center-->
			<div class="header__center">
				<div class="header__lans langs">
					<ul>
						<li class="langs__item"><a href="#"><div class="langs__img  langs__img-rus"></div><span>Rus</span></a>
						</li>
						<li class="langs__item"><a href="#"><div class="langs__img  langs__img-ger"></div><span>ger</span></a>
						</li>
						<li class="langs__item"><a href="#"><div class="langs__img  langs__img-ing"></div><span>ing</span></a>
						</li>
					</ul>
				</div>
				<div class="header__phones">
					<div class="phone header__phone">
						<a class="phone__link" href="tel:#"><span>+7 (495)</span>
							784-98-97
						</a>
						<span class="phone__desc">Ресепшн</span>
					</div>
					<div class="phone header__phone">
						<a class="phone__link" href="tel:#"><span>+7 (495)</span>
							788-88-16
						</a>
						<span class="phone__desc">Дирекция</span>
					</div>
				</div>
			</div>
			<!--end header__center-->
			<div class="header__right">
				<a class="header__back-btn back-btn" href="#">Заказать звонок</a>
				<a class="header__back-btn back-btn" href="#">Заполнить анкету</a>
			</div>
			<!-- end logo -->
		</div>
		<!-- end container -->

		<!--begin container-->
		<div class="container ">
			<!--begin header__menu-->
			<ul class="header__menu">
				<li class="header__menu-item"><a class="header__menu-link" href="#">Главная</a></li>
				<li class="header__menu-item"><a class="header__menu-link" href="#">Диагностика</a></li>
				<li class="header__menu-item"><a class="header__menu-link" href="#">Лечение</a></li>
				<li class="header__menu-item"><a class="header__menu-link" href="#">Реабилитация</a></li>
				<li class="header__menu-item"><a class="header__menu-link" href="#">Услуги</a></li>
				<li class="header__menu-item"><a class="header__menu-link" href="#">Клиника</a></li>
				<li class="header__menu-item"><a class="header__menu-link" href="#">Контакты</a></li>
			</ul>
			<!--end header__menu-->
		</div>
	<!--end container-->

</header>
