<header class="header" style="background-image: url('img/header-bg.jpg');">
	<!-- begin container -->
	<div class="container">
		<!-- begin logo -->
		<div class="header__logo logo">
			<img src="img/logo.png">
		</div>

		<!-- begin header__lans -->
		<div class="header__lans langs">
			<ul>
			<li class="langs__item"><div class="langs__img  langs__img-rus"></div><a href="#"><span>Rus</span></a>
				</li>
				<li class="langs__item"><div class="langs__img  langs__img-ger"></div><a href="#"><span>ger</span></a>
				</li>
				<li class="langs__item"><div class="langs__img  langs__img-ing"></div><a href="#"><span>ing</span></a>
				</li>
			</ul>
		</div>
		<!-- end header__lans -->

		<!-- end logo -->
	</div>
	<!-- end container -->
</header>
