		<!--begin home-content-->
		<div class="home-content">
			<h1>Медицинский центр «Isabella» работает на рынке медицинских услуг уже более 10 лет.</h1>
<img src="img/cont-img.jpg" alt="alt">
			<p>Наша клиника предлагает лечение большого количества заболеваний методами физиотерапии. Основное направление центра – аппаратная терапия болезней детского возраста, а так же взрослого населения. Консультацию проводят врачи специалисты, которые прошли подготовку по специальности «Физиотерапия». Клиника восточной медицины  использует многовековой опыт традиционной китайской медицины для лечения многих хронических заболеваний. Наша клиника сохраняет все лучшие традиции древней восточной медицины, дополняя их самыми современными практическими разработками.
			</p>
			

			<p>В нашей клинике осуществлена уникальная возможность одновременно использовать в терапии: традиционные методы восточной медицины, (иглотерапия, китайский массаж, китайская баночная терапия, массаж гуаша, траволечение), мануальная терапия, кинезиотерапия, остеопатиию, гомеопатию, ароматерепию и психотерапию. При этом решение и выбор методов лечения каждый пациент нашей клиники оставляет за собой: на консультации доктор в рекомендательном характере сообщит Вам о всех возможных вариантах лечения.  При этом решение и выбор методов лечения каждый пациент нашей клиники оставляет за собой.
			</p>
			<img src=img/cont-img.jpg" alt="alt">
			<p>При проведении консультации специалистами нашего медицинского центра даются не только общие рекомендации, но и прогноз в отношении будущего здоровья вашего малыша. Важным аспектом современной медицины является профилактика многих заболеваний или осложнений основного заболевания. 
			</p>
			<p>Медицинский центр «М-Клиник» проводит программы реабилитации детей с ДЦП. На сегодня поражение нервной системы занимают первые места среди всех заболеваний детского возраста. 
			</p>
		</div>
		<!--end home-content-->
		