<!--begin sidebar-->
<div class="sidebar">
	<ul class="sidebar__list">
		<li class="sidebar__item"><a href="#" class="sidebar__link">Аллерголог</a></li>
		<li class="sidebar__item"><a href="#" class="sidebar__link">Гинеколог</a></li>
		<li class="sidebar__item"><a href="#" class="sidebar__link">Диетолог</a></li>
		<li class="sidebar__item"><a href="#" class="sidebar__link">Нейрохирургия</a></li>
		<li class="sidebar__item"><a href="#" class="sidebar__link">Маммолог</a></li>
		<li class="sidebar__item"><a href="#" class="sidebar__link">Невролог</a></li>
		<li class="sidebar__item"><a href="#" class="sidebar__link">Психиатр</a></li>
		<li class="sidebar__item"><a href="#" class="sidebar__link">Психиатр</a></li>
		<li class="sidebar__item"><a href="#" class="sidebar__link">Диетолог</a></li>
		<li class="sidebar__item"><a href="#" class="sidebar__link">Нейрохирургия</a></li>
	</ul>
</div>
<!--end sidebar-->
		