.header
	padding-top: 27px
	padding-bottom: 24px
	position: relative
	margin-bottom: 59px
	+cover
	+r(767)
		padding-top: 10px
		padding-bottom: 10px
		margin-bottom: 20px
	&__container
		grid-template-columns: 150px  1fr 126px
		align-items: center
		//justify-content: stretch
		+r(767)
			text-align: center
	&__logo
		margin-top: 5px
		width: 150px
		height: 50px
		+r(767)
			margin-left: auto
			margin-right: auto
		img
			width: 100%
			height: 100%
			object-fit: contain
	&__lans
		+r(767)
			margin-right: 20px
			vertical-align: middle
	&__back-btn
		&:first-of-type
			margin-bottom: 11px
		+r(767)
			margin: 5px
	&__center
		display: inline-grid
		grid-template-columns: 86px 1fr
		align-items: center
		padding-left: 58px
		+r(850)
			padding-left: 15px
		+r(767)
			display: block
			margin-top: 20px
			margin-bottom: 20px
			padding-left: 0
			+vertical
	&__phones
		justify-self: end
		padding-right: 26px
		+r(767)
			display: inline-block
			vertical-align: middle
			padding-right: 0
	&__phone
		margin-right: 47px
		+r(850)
			margin-right: 20px
		&:last-of-type
			margin-right: 0
		+r(549)
			margin: 10px auto!important
			display: block
	.menu-wrapper
		position: relative
		bottom: -36px
		+r(767)
			display: none	
			bottom: 0
			position: fixed
			top: 0
			left: 0
			width: 100%
			z-index: 21
		&__bg
			position: absolute
			content: ''
			left: 50%
			transform: translateX(-50%)
			bottom: -28px
			background: url("../img/menu.png")
			background-repeat: no-repeat
			height: 67px
			z-index: 1
			width: 1014px
			+r(1039)
				display: none	
	&__menu
		background-color: #888
		background-image: linear-gradient(to top, #0770db 0%, #00a2ff 100%)
		border-radius: 4px
		box-shadow: inset 0 0 0 rgba(255, 255, 255, 0.17)
		display: grid 
		justify-content: center
		grid-template-columns: min-content  min-content min-content min-content min-content min-content min-content
		padding: 7px 0px
		position: relative
		z-index: 2
		+r(767)
			display: block
			border-radius: 0
			text-align: center
	&__menu-item
		padding: 0px 28px
		border-right: 1px solid #42a9f3
		+r(1039)
			padding: 0 20px
		+r(880)
			padding: 0 15px
		+r(800)
			padding: 0 10px
		+r(767)
			border-right: none
			padding: 5px
		&:last-of-type
			border-right: none
	&__menu-link
		font-weight: 900
		font-size: 12px
		color: $white
		text-transform: uppercase
		line-height: 32px
		border-bottom: 1px solid #42a9f3
		transition: all .3s
		&:hover
			border-bottom-color: transparent
.menu-btn
	display: none
	+r(767)
		display: block
		position: fixed
		right: 	15px
		top: 25px
		transform: translateY(-50%)
		width: 28px
		height: 20px
		overflow: visible
		z-index: 22
		&:before, &:after
			transition: all .3s
			content: ''
			position: absolute
			height: 3px
			width: 28px
			background: #000
			left: 0
		&:before
			top: 0px
			transform-origin: top left
		&:after
			bottom: 0px
			transform-origin: bottom left
		div
			height: 3px
			width: 28px
			z-index: 2
			background: #000
			position: absolute
			top: 50%
			margin-top: -2px
			transition: all .2s
.menu-btn-is-active
	+r(767)
		div
			opacity: 0
		&:before, &:after
			width: 26px
		&:before
			transform: translateX(6px) rotate(45deg)
		&:after
			transform: translateX(6px) rotate(-45deg)

	